In [30]:
import pandas as pd
import sys
df=pd.read_csv("../../data/processed/dist data/Pune/cast/OPEN.csv")
df.head()

,Unnamed: 0,Unnamed: 0.1,Merit No,Marks,Application ID,Name of Candidate,Gender,Category,Category id,Seat Type,PWD/DEF,Sub Group,sub group name,cource_code,cource code name,college_code,Institute dict,Institute Name,Seat conformation,Seat conformation id
0,2,473,3893,85.70,19136678,KHANDAGALE DATTATRAY SHRIKANT,M,OPEN,1,GOPEN,NaN,101,Chemical,101,Chemical,6146,Pune,"MIT Academy of Engineering,Alandi, Pune",^,1.0
1,31,503,20977,72.91,19144210,SURYADITYA AMARSHINA PATIL,M,OPEN,1,GOPEN,NaN,101,Chemical,101,Chemical,6177,Pune,"Sinhgad College of Engineering, Vadgaon (BK), ...",^,1.0
2,32,504,27390,69.76,19141842,THAKUR RITESH PANDURANG,M,OPEN,1,GOPEN,NaN,101,Chemical,101,Chemical,6177,Pune,"Sinhgad College of Engineering, Vadgaon (BK), ...",#,2.0
3,34,506,29139,68.97,19119195,ASIF MUBARAK BAGWAN,M,OPEN,1,GOPEN,NaN,101,Chemical,101,Chemical,6177,Pune,"Sinhgad College of Engineering, Vadgaon (BK), ...",^,1.0
4,36,508,34294,66.73,19118619,THETE AKSHAY KISAN,M,OPEN,1,GOPEN,NaN,101,Chemical,101,Chemical,6177,Pune,"Sinhgad College of Engineering, Vadgaon (BK), ...",&,4.0

In [37]:
def student_classifaction(dist,cast):
    course=101
    gender="M"
    df=pd.read_csv("../../data/processed/dist data/Pune/cast/OPEN.csv")
    g=df[df["Gender"]==gender].index.values
    c=df[df["cource code name"]==course].index.values
    print(g)
              
student_classifaction("Pune","Open")

[   0    1    2 ... 4340 4341 4342]