# Data Cleaning

In [54]:
import pandas as pd
import numpy as np

In [142]:
dataframe=pd.read_csv("../../data/raw/cap-1 student info.csv")
dataframe.head()

,Unnamed: 0,Unnamed: 0.1,Sr.No.,Merit No,Marks,Application ID,Name of Candidate,Gender,Category,PWD/DEF,Sub Group,Seat Type,cource_code,college_code
0,0,0,1,60,95.13%,DSE19106856,PAWAR SIDDHI RAVINDRASINGH,F,OPEN,NaN,201,LOPEN,201,1002
1,1,1,2,213,93.38%,DSE19126045,MAHALLE SHRADDHA MOHANRAO,F,OBC,NaN,201,GOPEN,201,1002
2,2,2,3,384,92.47%,DSE19105661,TUSHAR RAJESH LAHANE,M,OBC,NaN,201,GOBC,201,1002
3,3,3,4,420,92.31%,DSE19103256,RAUT PALASH SUBHASH,M,OBC,NaN,201,GOBC,201,1002
4,4,4,5,465,92.12%,DSE19147230,INGLE DHANASHRI VIJAYSINH,F,SEBC,NaN,201,GSEBC,201,1002

In [143]:
dataframe.drop(["Unnamed: 0","Unnamed: 0.1"],axis=1,inplace=True)

## Feature clearing

### Feature ["Mert No"]

Marks have some vacant anoted by "-" they showd be convertd as 0

In [144]:
dataframe["Merit No"]=dataframe["Merit No"].astype(str)
vacent_entres=dataframe[dataframe["Merit No"]=="-"].index.values
dataframe.iloc[vacent_entres]=0

The feature mert no have all the integer feature it shoud be integer

In [145]:
dataframe["Merit No"] = pd.to_numeric(dataframe["Merit No"], errors='coerce').fillna(0).astype(np.int64)

### Feature [Marks]

The marks in format of % eg 80.0% they should converted as 80.0

In [146]:
dataframe["Marks"]=dataframe["Marks"].astype(str)

In [147]:
length=dataframe.shape
length[0]

75031

removig %

In [148]:
for i in range(length[0]):
    data=dataframe["Marks"].iloc[i]
    if data!=0:
        data=''.join([ word for word  in data if word.isdigit() or word=="."])
        dataframe["Marks"].iloc[i]=data

C:\Users\shubham\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [149]:
dataframe["Marks"] = pd.to_numeric(dataframe["Marks"], errors='coerce').fillna(0).astype(np.float64)

### Feature [Application Id]

The application id is only the feature that can uniqly identify student bot the application id is in format DSE12458. if move remove [DSE] from the if goood o have id as Integer

In [150]:
dataframe["Application ID"]=dataframe["Application ID"].astype(str)

In [151]:
for i in range(length[0]):
    data=dataframe["Application ID"].iloc[i]
    if  data !=0:
        data=''.join([word for word in data if  word.isdigit()])
        dataframe["Application ID"].iloc[i]=data

In [152]:
dataframe["Application ID"] = pd.to_numeric(dataframe["Application ID"], errors='coerce').fillna(0).astype(np.int64)

### Feature [Seat Type]

The feature seat type contain the spacial symobols witch can affect model.It better to remove the symboles

In [153]:
dataframe["Seat Type"]=dataframe["Seat Type"].astype(str)

In [154]:
dataframe["Seat conformation"]=np.nan
for i in range(length[0]):
    data=dataframe["Seat Type"].iloc[i]
    if data!=0:
        data=''.join([word for word in data if not word.isalnum()])
        dataframe["Seat conformation"].iloc[i]=data

In [155]:
for i in range(length[0]):
    data=dataframe["Seat Type"].iloc[i]
    if data!=0:
        data=''.join([word for word in data if word.isalpha()])
        dataframe["Seat Type"].iloc[i]=data

In [156]:
dataframe["Seat conformation"].unique()

array([''], dtype=object)

In [157]:
seat_conformation=({    
    '^':1,
    '#':2,
    '*':3,
    '*-':3,
    '&':4,
    '&-':4,
    '@':5,
})
dataframe["Seat conformation id "]=dataframe["Seat conformation"].map(seat_conformation)

In [158]:
dataframe["Seat Type"].unique()

array(['LOPEN', 'GOPEN', 'GOBC', 'GSEBC', 'EWS', 'LSC', 'LST', 'GSC', '',
       'LOBC', 'GST', 'GNTD', 'LSEBC', 'LNTC', 'PHOBC', 'LNTB', 'MI',
       'GNTB', 'GNTC', 'GNTA', 'LNTA', 'DFSC', 'LNTD', 'PHO', 'DFSEBC',
       'DFO', 'PHSC', 'DFOBC', 'DFNTC', 'DFNTD', 'PHNTC', 'PHSEBC',
       'PHNTB', 'PHNTA', 'DFST', 'DFNTB', 'PHNTD'], dtype=object)

### Feature [Category]

The feature invalid symboles

In [159]:
for i in range(length[0]):
    data=dataframe["Category"].iloc[i]
    if data!=0:
        data=''.join([word for word in data if word.isalpha() or word.isdigit() or word == "/" or word=="(" or word==")"])
        dataframe["Category"].iloc[i]=data

In [160]:
dataframe["Category"].unique()

array(['OPEN', 'OBC', 'SEBC', 'OPEN/EWS', 'SC', 'ST', 'NT1(NTB)', 0,
       'NT3(NTD)', 'NT2(NTC)', 'SBC/OBC', 'DT/VJNT(A)', 'SBC', '0'],
      dtype=object)

In [161]:
category_unique=dict({
    "OPEN":"OPEN",
    "OBC":"OBC",
    "SEBC":"SEBC",
    "SC":"SC",
    "OPEN/EWS":"OPEN/EWS",
    "ST":"ST",
    "NT1(NTB)":"NT1",
    "NT2(NTC)":"NT2",
    "NT3(NTD)":"NT3",
    "SBC/OBC":"SBC/OBC",
    "DT/VJNT(A)":"DT/VJNT(A)",
    "SBC":"SBC"
})

dataframe["Category"]=dataframe["Category"].map(category_unique)

In [162]:
dataframe["Category"].unique()

array(['OPEN', 'OBC', 'SEBC', 'OPEN/EWS', 'SC', 'ST', 'NT1', nan, 'NT3',
       'NT2', 'SBC/OBC', 'DT/VJNT(A)', 'SBC'], dtype=object)

In [163]:
category_unique=dict({
    "OPEN":1,
    "OBC":2,
    "SEBC":3,
    "SC":4,
    "OPEN/EWS":5,
    "ST":6,
    "NT1":7,
    "NT2":8,
    "NT3":9,
    "SBC/OBC":10,
    "DT/VJNT(A)":11,
    "SBC":12
})
dataframe["Category id"]=dataframe["Category"].map(category_unique)

In [164]:
dataframe["Category id"] = pd.to_numeric(dataframe["Category id"], errors='coerce').fillna(0).astype(np.int64)

In [165]:
dataframe["Category id"].unique()

array([ 1,  2,  3,  5,  4,  6,  7,  0,  9,  8, 10, 11, 12], dtype=int64)

###  Feature [Gender]

In [166]:
dataframe["Gender"]=dataframe["Gender"].astype(str)

### Feature [PWD/DEF]

PWD/DEF invalis carater such as /n /r

In [167]:
dataframe["PWD/DEF"].unique()

array([nan, 0, 'Low-Vision', 'DEF1', 'Locomotor \r\nDisability',
       'Physical \r\nimpairment', 'DEF2', 'Hard of \r\nHearing',
       'Thalassemia', '0', 'Specific \r\nLearning \r\nDisabilities',
       'Cerebral \r\nPalsy', 'Blindness', 'DEF3', 'Haemophilia',
       'Muscular \r\nDystrophy', 'Physical \r\nimpairment/DEF1', 'Deaf',
       'Intellectual \r\nDisability'], dtype=object)

In [168]:
pwd_def=dict({
  "Locomotor \r\nDisability":"Locomotor Disability",
  "Physical \r\nimpairment":"Physical impairment",
  "Hard of \r\nHearing":"Hard of Hearing",
  "Specific \r\nLearning \r\nDisabilities":"Specific Learning Disabilities",
  "Cerebral \r\nPalsy":"Cerebral Palsy",
  "Muscular \r\nDystrophy":"Muscular Dystrophy",
  "Physical \r\nimpairment/DEF1":"Physical impairment DEF1",
  "Intellectual \r\nDisability":"Intellectual Disability"
})
dataframe["PWD/DEF"]=dataframe["PWD/DEF"].map(pwd_def)

In [169]:
dataframe["PWD/DEF"].unique()

array([nan, 'Locomotor Disability', 'Physical impairment',
       'Hard of Hearing', 'Specific Learning Disabilities',
       'Cerebral Palsy', 'Muscular Dystrophy', 'Physical impairment DEF1',
       'Intellectual Disability'], dtype=object)

### Feature [Sub Group]

In [170]:
dataframe["Sub Group"]=dataframe["Sub Group"].astype(str)
for i in range(length[0]):
    code=dataframe["Sub Group"].iloc[i]
    dataframe["Sub Group"].iloc[i]=code[-3:].lower()

In [171]:
dataframe["Sub Group"].unique()

array(['201', '101', '104', '0', '102', '401', '103', '701', '404', '702',
       '304', '302', '301', '1.0', '303', '501', '305', '402', '403',
       '801', '601'], dtype=object)

In [172]:
dataframe["Sub Group"] = pd.to_numeric(dataframe["Sub Group"], errors='coerce').fillna(0).astype(np.int64)

In [173]:
cource_data=({   
    101:"Chemical",
    102:"Plastic",
    103:"Food Technology",
    104:"Oil and Paints Technology",
    105:"",
    201 :"Civil",
    301:"Computer & IT",
    303:" Medical Electronics",
    304:"Electrical",
    302:"ENTC",
    305:"Instrumentation",
    401:"Machanical",
    402:"Production",
    403:"Packaging Technology",
    404:"Metallurgy (Foundry Technology)",
    405:"Aeronautical Engineering",
    501:"Mining",
    601:"Printing Technology",
    701:"Knitting Technology",
    702:"Man made Textile Chemistry",
})
dataframe["sub group name"]=dataframe["Sub Group"].map(cource_data)
dataframe["cource code name"]=dataframe["cource_code"].map(cource_data)

### Add College Name

The data scource only have college code we have to add collage name

In [174]:
college_data=pd.read_csv("../../data/raw/college maping.csv",index_col=["Institute Code"],usecols=None,)
college_data.drop(["Unnamed: 0"],axis=1,inplace=True)
college_data.head()

                                                   Institute Name
Institute Code
1002                  Government College of Engineering, Amravati
1005                 Sant Gadge Baba Amravati University,Amravati
1012                     Government Engineering College, Yavatmal
1101            Shri Sant Gajanan Maharaj College of Engineeri...
1105            Prof. Ram Meghe Institute of Technology & Rese...

In [175]:
data=college_data.to_dict()
data=data['Institute Name']

In [176]:
dataframe["Institute Name"]=dataframe["college_code"].map(data)

In [177]:
dataframe.head(100)

,Sr.No.,Merit No,Marks,Application ID,Name of Candidate,Gender,Category,PWD/DEF,Sub Group,Seat Type,cource_code,college_code,Seat conformation,Seat conformation id,Category id,sub group name,cource code name,Institute Name
0,1,60,95.13,19106856,PAWAR SIDDHI RAVINDRASINGH,F,OPEN,NaN,201,LOPEN,201,1002,,NaN,1,Civil,Civil,"Government College of Engineering, Amravati"
1,2,213,93.38,19126045,MAHALLE SHRADDHA MOHANRAO,F,OBC,NaN,201,GOPEN,201,1002,,NaN,2,Civil,Civil,"Government College of Engineering, Amravati"
2,3,384,92.47,19105661,TUSHAR RAJESH LAHANE,M,OBC,NaN,201,GOBC,201,1002,,NaN,2,Civil,Civil,"Government College of Engineering, Amravati"
3,4,420,92.31,19103256,RAUT PALASH SUBHASH,M,OBC,NaN,201,GOBC,201,1002,,NaN,2,Civil,Civil,"Government College of Engineering, Amravati"
4,5,465,92.12,19147230,INGLE DHANASHRI VIJAYSINH,F,SEBC,NaN,201,GSEBC,201,1002,,NaN,3,Civil,Civil,"Government College of Engineering, Amravati"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN
96,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN
97,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN
98,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN
99,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN

###  College city

In [178]:
city=pd.read_csv("../../data/raw/college town.csv",index_col=["Institute Code"])
city.drop(["Unnamed: 0"],axis=1,inplace=True)
city.head()

               Institute dict
Institute Code
1002                 Amravati
1005                 Amravati
1012                 Yavatmal
1101                 Buldhana
1105                 Amravati

In [179]:
dataframe["Institute dict"]=np.nan
city=city.to_dict()
city=city["Institute dict"]
dataframe["Institute dict"]=dataframe["college_code"].map(city)

In [180]:
dataframe.head(50)

,Sr.No.,Merit No,Marks,Application ID,Name of Candidate,Gender,Category,PWD/DEF,Sub Group,Seat Type,cource_code,college_code,Seat conformation,Seat conformation id,Category id,sub group name,cource code name,Institute Name,Institute dict
0,1,60,95.13,19106856,PAWAR SIDDHI RAVINDRASINGH,F,OPEN,NaN,201,LOPEN,201,1002,,NaN,1,Civil,Civil,"Government College of Engineering, Amravati",Amravati
1,2,213,93.38,19126045,MAHALLE SHRADDHA MOHANRAO,F,OBC,NaN,201,GOPEN,201,1002,,NaN,2,Civil,Civil,"Government College of Engineering, Amravati",Amravati
2,3,384,92.47,19105661,TUSHAR RAJESH LAHANE,M,OBC,NaN,201,GOBC,201,1002,,NaN,2,Civil,Civil,"Government College of Engineering, Amravati",Amravati
3,4,420,92.31,19103256,RAUT PALASH SUBHASH,M,OBC,NaN,201,GOBC,201,1002,,NaN,2,Civil,Civil,"Government College of Engineering, Amravati",Amravati
4,5,465,92.12,19147230,INGLE DHANASHRI VIJAYSINH,F,SEBC,NaN,201,GSEBC,201,1002,,NaN,3,Civil,Civil,"Government College of Engineering, Amravati",Amravati
5,6,585,91.70,19140012,PATHAN MUJAHID NAJEKHAN,M,OPEN/EWS,NaN,201,EWS,201,1002,,NaN,5,Civil,Civil,"Government College of Engineering, Amravati",Amravati
6,7,1941,88.47,19108714,GHUGARE SAKSHI RAVINDRA,F,SC,NaN,201,LSC,201,1002,,NaN,4,Civil,Civil,"Government College of Engineering, Amravati",Amravati
7,8,8635,81.09,19115650,KOKATE SATYABHAMA PRALHAD,F,ST,NaN,201,LST,201,1002,,NaN,6,Civil,Civil,"Government College of Engineering, Amravati",Amravati
8,1,35011,66.42,19139779,SHWETA FULCHAND SHENDE,F,NT1,NaN,101,LOPEN,101,1005,,NaN,7,Chemical,Chemical,"Sant Gadge Baba Amravati University,Amravati",Amravati
9,2,46850,61.16,19145385,GAWANDE RUSHIKESH KESHAV,M,SC,NaN,104,GSC,101,1005,,NaN,4,Oil and Paints Technology,Chemical,"Sant Gadge Baba Amravati University,Amravati",Amravati
10,3,48144,60.42,19131759,SHINDE VIRENDRA SUNIL,M,OPEN,NaN,101,GOPEN,101,1005,,NaN,1,Chemical,Chemical,"Sant Gadge Baba Amravati University,Amravati",Amravati
11,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
12,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
13,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
14,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
15,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
16,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
17,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
18,1,669,91.38,19130005,CHOURE SUDHIR BALU,M,SEBC,NaN,101,GOPEN,101,1005,,NaN,3,Chemical,Chemical,"Sant Gadge Baba Amravati University,Amravati",Amravati
19,2,15901,75.82,19137673,PAWAR SOURABH SAKHARAM,M,SEBC,NaN,101,GOPEN,101,1005,,NaN,3,Chemical,Chemical,"Sant Gadge Baba Amravati University,Amravati",Amravati
20,3,18174,74.67,19109361,KHAPRE ONKAR PRAMOD,M,SEBC,NaN,101,GSEBC,101,1005,,NaN,3,Chemical,Chemical,"Sant Gadge Baba Amravati University,Amravati",Amravati
21,4,32159,67.64,19130850,TAYDE RESHAMA SANTOSH,F,SC,NaN,101,LOPEN,101,1005,,NaN,4,Chemical,Chemical,"Sant Gadge Baba Amravati University,Amravati",Amravati
22,5,40081,64.30,19150865,DARSHAN ARUN BORSE,M,SC,NaN,101,LSC,101,1005,,NaN,4,Chemical,Chemical,"Sant Gadge Baba Amravati University,Amravati",Amravati
23,6,40507,64.12,19122063,BORULE SAGAR MURLIDHAR,M,OBC,NaN,101,GOBC,101,1005,,NaN,2,Chemical,Chemical,"Sant Gadge Baba Amravati University,Amravati",Amravati
24,7,49003,60.00,19124924,MAHADOLE SAURABH BHAGWAN,M,OBC,NaN,101,LOBC,101,1005,,NaN,2,Chemical,Chemical,"Sant Gadge Baba Amravati University,Amravati",Amravati
25,8,51387,58.06,19111566,VIPUL BHAJANDAS TADOSE,M,ST,NaN,201,GST,101,1005,,NaN,6,Civil,Chemical,"Sant Gadge Baba Amravati University,Amravati",Amravati
26,1,4377,85.17,19115987,AMBHORE ARJUN SANJAY,M,OBC,NaN,102,GOPEN,101,1116,,NaN,2,Plastic,Chemical,Shri Shivaji Education Society's College of En...,Akola
27,2,12955,77.82,19154765,SANGLE INDRAMOHAN ASARAM,M,NT3,NaN,101,GOPEN,101,1116,,NaN,9,Chemical,Chemical,Shri Shivaji Education Society's College of En...,Akola
28,3,19939,73.45,19154549,DETHE SAGAR ARJUN,M,SC,NaN,101,GOPEN,101,1116,,NaN,4,Chemical,Chemical,Shri Shivaji Education Society's College of En...,Akola
29,4,31098,68.06,19150706,BUDALE AVINASH VIRBHADRA,M,OPEN,NaN,101,GOPEN,101,1116,,NaN,1,Chemical,Chemical,Shri Shivaji Education Society's College of En...,Akola
30,5,32160,67.64,19109553,WAGH SHUBHAM GAJENDRA,M,SEBC,NaN,101,GOPEN,101,1116,,NaN,3,Chemical,Chemical,Shri Shivaji Education Society's College of En...,Akola
31,6,41004,63.88,19103901,LODH ARYA CHANDRASHEKHAR,M,OBC,NaN,101,GOPEN,101,1116,,NaN,2,Chemical,Chemical,Shri Shivaji Education Society's College of En...,Akola
32,7,42915,63.06,19142515,MOHD ATIF AHMAD ASHFAQUE AHMAD,M,OBC,NaN,102,GOBC,101,1116,,NaN,2,Plastic,Chemical,Shri Shivaji Education Society's College of En...,Akola
33,8,45167,62.00,19149833,BAGAL DNYANESHWAR HANUMANT,M,OPEN,NaN,401,LOPEN,101,1116,,NaN,1,Machanical,Chemical,Shri Shivaji Education Society's College of En...,Akola
34,9,45571,61.81,19105024,CHALE VIVEK DIPAK,M,OBC,NaN,102,GOBC,101,1116,,NaN,2,Plastic,Chemical,Shri Shivaji Education Society's College of En...,Akola
35,10,53119,55.76,19121063,KANT NIKHIL ANIL,M,OPEN,NaN,101,GOPEN,101,1116,,NaN,1,Chemical,Chemical,Shri Shivaji Education Society's College of En...,Akola
36,11,53753,54.25,19156756,GIRI ANUJA GANESH,F,NT1,NaN,102,LOPEN,101,1116,,NaN,7,Plastic,Chemical,Shri Shivaji Education Society's College of En...,Akola
37,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
38,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
39,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
40,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
41,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
42,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
43,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
44,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
45,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
46,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
47,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
48,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN
49,0,0,0.00,0,0,0,NaN,NaN,0,,0,0,,NaN,0,NaN,NaN,NaN,NaN

In [181]:
dataframe=dataframe[["Merit No","Marks","Application ID","Name of Candidate","Gender","Category","Category id","Seat Type","PWD/DEF","Sub Group","sub group name","cource_code","cource code name","college_code","Institute dict","Institute Name","Seat conformation"]]

In [182]:
dataframe.head()

,Merit No,Marks,Application ID,Name of Candidate,Gender,Category,Category id,Seat Type,PWD/DEF,Sub Group,sub group name,cource_code,cource code name,college_code,Institute dict,Institute Name,Seat conformation
0,60,95.13,19106856,PAWAR SIDDHI RAVINDRASINGH,F,OPEN,1,LOPEN,NaN,201,Civil,201,Civil,1002,Amravati,"Government College of Engineering, Amravati",
1,213,93.38,19126045,MAHALLE SHRADDHA MOHANRAO,F,OBC,2,GOPEN,NaN,201,Civil,201,Civil,1002,Amravati,"Government College of Engineering, Amravati",
2,384,92.47,19105661,TUSHAR RAJESH LAHANE,M,OBC,2,GOBC,NaN,201,Civil,201,Civil,1002,Amravati,"Government College of Engineering, Amravati",
3,420,92.31,19103256,RAUT PALASH SUBHASH,M,OBC,2,GOBC,NaN,201,Civil,201,Civil,1002,Amravati,"Government College of Engineering, Amravati",
4,465,92.12,19147230,INGLE DHANASHRI VIJAYSINH,F,SEBC,3,GSEBC,NaN,201,Civil,201,Civil,1002,Amravati,"Government College of Engineering, Amravati",

In [183]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75031 entries, 0 to 75030
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Merit No           75031 non-null  int64
 1   Marks              75031 non-null  float64
 2   Application ID     75031 non-null  int64
 3   Name of Candidate  75031 non-null  object
 4   Gender             75031 non-null  object
 5   Category           38927 non-null  object
 6   Category id        75031 non-null  int64
 7   Seat Type          75031 non-null  object
 8   PWD/DEF            81 non-null     object
 9   Sub Group          75031 non-null  int64
 10  sub group name     38872 non-null  object
 11  cource_code        75031 non-null  int64
 12  cource code name   38911 non-null  object
 13  college_code       75031 non-null  int64
 14  Institute dict     38927 non-null  object
 15  Institute Name     38927 non-null  object
 16  Seat conformation  75031 non-null  object
dtypes: float64(1), int64(6), object(10)
memory usage: 9.7+ MB

In [184]:
dataframe.to_csv("../../data/processed/cap-1.csv")